@use '/styles/custom' as *;
@use '/styles/components/mixins' as *;

.navbar {
    @include gradient;

    width: 100%;
    .logo {
        img {
            border-radius: 50%;
        }        
    }
    .logo-name {
        margin-left: 2.5rem;
        color: $white !important;
        font-weight: 600;
        font-size: 1.1rem;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .collapse {
        a {
            color: white !important;
            font-weight: 600;
            font-size: 1.1rem;
        }
    }

    
}